<div class='form'>
  <h1>Log-in Here!</h1>
  <form action="/login" method="POST">
    <input type="text" name="name" placeholder= "Your Name Here"><br>
    <input type="password" name="password" placeholder="Your Password Here">
    <input type="submit" value="Submit!" class="btn">
  </form>
</div>

<a href="/signup">Not a member?  Sign-up here!</a>