<div class="form">
  <h1>Signup Here!</h1>
  <form action="/signup" method="POST">
    <input type="text" name="user[name]" placeholder="Your Name Here"><br>
    <input type="password" name="user[password]" placeholder="Your Password Here"><br>
    <input type="password" name="user[password_confirmation]" placeholder="Your Password Here Again"><br>
    <input type="text" name="user[mantra]" placeholder="Your Mantra Here">
    <input type="text" name="user[image_url]" placeholder="Your Image URL Here">
    <input type="submit" value="Signup!">
  </form>
</div>