<div class = "form">
  <form action="/posts/new" method="post">
    <input type="text" name="title" placeholder="enter post title">
    <textarea name="content" placeholder="what's on your mind?"></textarea>
    <input type="submit" value="submit">
  </form>
</div>