<div class="nav">
  <h3>Panic Zone</h3>

  <ul>
    <li><a href="/welcome">Home</a></li>
    <li><a href="/users/:id">My Profile</a></li>
  </ul>
  <div class = "btn">
    <% if current_user %>
      <a href="/logout">logout</a>
    <% else %>
      <a href="/login">login</a>
    <% end %>
  </div>
</div>